@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #faf0d670;
    font-family: Arial, Helvetica, sans-serif;
  
}

header{
    display: flex;
    flex-direction: column;
      
}

#logo-loja{
    display: block;
    margin: 18px auto 17px;
    transform: scale(0.9);

}

#menu-principal{
    display: flex;
    justify-content: space-around;
    padding: 10px 4px;
    font-size: larger;
    background-color: #ecc219;

}

#menu-principal a{
    color:#fffefe;
    text-decoration: none;

}

li{
    display: flex;
    align-items: center;
    list-style-type: none; 

}

.material-symbols-outlined{
    margin: 0px 4px 5px 0px; 
    color: #fffefe;
    transform: scale(1);

}

#container-livros{
    display: flex;
    height: 500px;
    width: 100%;

}

#livro01,#livro02{
    height: 420px;
    width: 180px;
    margin: auto;
   
   
}

.opacidade{
    z-index: 1;
    position: absolute;
    height: 250px;
    width: 180px;
    opacity: 0.5;
  
}

.opacidade:hover{
    background-color: #ecc219;

}

#capa01,#capa02{
    z-index: 0;
    height: 250px;
    background-image: url(imagens/teologia-sistematica.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
}

#capa02{
    background-image: url(imagens/ego-transformado.png);
 
}

#descricao01,#descricao02{
    font-size: 16px;
    text-align: center;
    padding: 15px;

}

.valor{
    padding-top: 15px;
    font-size: x-large;
    font-weight: bold;
    
}

.botao-comprar{
    display: block;
    margin: auto;
    padding: 20px;
    width: 120px;
    background-color: #ecc219;
    color: white;
    border: none;
    border-radius: 10px;

}

.botao-comprar{
    display: block;
    padding: 20px;
    background-color: #ecc219;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
    
}

.botao-comprar:hover{
    cursor: pointer;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: rgb(43, 41, 41);
    color: white;

}

footer a{
    color: #ecc219;
}









/* SÓ PRA VERSÃO DE DESKTOP

#livro-principal:hover{
    transition-property: transform;
    transition-duration: 0.5s;
    transform: scale(1.2);
}

#livro-principal:not(:hover){
    transition-property: transform;
    transition-duration: 0.5s;
    transform: scale(1);
}*/




